footer {
    background-color: var(--color_FFFDE6);
    padding: 32px 0;
    margin-top: 5rem;
}

.grid_section_footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.logo_footer {
    display: flex;
    align-items: center;
    gap: 15px;

}

.logo_footer img {
    max-width: 70px;
}

.logo_footer h6 {
    color: var(--color_323232);
    font-size: 32px;
    font-weight: 600;
    white-space: nowrap;
}

.info_site_footer {
    align-self: center;
}

.info_site_footer ul {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    padding-left: 4rem;
    margin-top: 1rem;
}

.link_footer h5 {
    color: var(--color_323232);
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: 32px;
}

.link_footer ul li {
    color: var(--color_323232);
    font-size: 16px;
    font-weight: 300;
    line-height: 36px;
}

.link_footer ul li a {
    color: inherit;
}